Pflichtenheft/Pflichtenheft\.log

Pflichtenheft/Pflichtenheft\.synctex\.gz

Pflichtenheft/Pflichtenheft\.aux

Pflichtenheft/Pflichtenheft\.out

Pflichtenheft/Pflichtenheft\.toc

.idea

out/

SWP18SS_MarioReimplementation\.iml
